# Packages

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

# Load Data

In [2]:
xlsx_file = '../data/swat-2015-data.xlsx'
df = pd.read_excel(xlsx_file, engine='openpyxl', header=1)  # Read the file

C:\Users\Hp\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [3]:
print(df.shape)
df.head()

(496800, 53)

,Timestamp,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,...,P501,P502,PIT501,PIT502,PIT503,FIT601,P601,P602,P603,Normal/Attack
0,22/12/2015 4:00:00 PM,2.470294,261.5804,2,2,1,244.3284,8.19008,306.101,2.471278,...,1,1,10.02948,0.0,4.277749,0.000256,1,1,1,Normal
1,22/12/2015 4:00:01 PM,2.457163,261.1879,2,2,1,244.3284,8.19008,306.101,2.468587,...,1,1,10.02948,0.0,4.277749,0.000256,1,1,1,Normal
2,22/12/2015 4:00:02 PM,2.439548,260.9131,2,2,1,244.3284,8.19008,306.101,2.467305,...,1,1,10.02948,0.0,4.277749,0.000256,1,1,1,Normal
3,22/12/2015 4:00:03 PM,2.428338,260.2850,2,2,1,244.3284,8.19008,306.101,2.466536,...,1,1,10.02948,0.0,4.277749,0.000256,1,1,1,Normal
4,22/12/2015 4:00:04 PM,2.424815,259.8925,2,2,1,244.4245,8.19008,306.101,2.466536,...,1,1,10.02948,0.0,4.277749,0.000256,1,1,1,Normal

# Process

## 1. Normalization

Here we use `sklearn` package to do normalization, we chooose the `MinMaxScaler()`.

In [4]:
# Drop time stamp feature, since time format 
# can not be (or not necessary to be) normalized 
df.drop(' Timestamp', axis=1, inplace=True)

# Drop attack feature, since can not be normalized
df.drop('Normal/Attack', axis=1, inplace=True)

from sklearn import preprocessing
processor = preprocessing.MinMaxScaler()
df = processor.fit_transform(df)

## 2. Save to Numpy Format

We prefer using numpy to do the rest series processings.

In [5]:
np.save('../data/swat-2015-data.npy', df)